<%- include('partials/header') %>
<div>
  <h1>League of Losers current status</h1>
    </br>
  <table class="table table-bordered table-striped">
      <thead>
        <th>Summoner</th>
        <th>Level</th>
        <th>SoloQ Rank</th>
        <th>SoloQ Wins</th>
        <th>SoloQ Losses</th>
        <th>Flex Rank</th>
        <th>Flex Wins</th>
        <th>Flex Losses</th>
      </tr>
      </thead>
  <tr>
  <% summoners.forEach((summoner)=> { %>
  <tr>
    <td><%= summoner.name %></td>
    <td><%= summoner.level %></td>
    <td><%= summoner.soloQRank %></td>
    <td><%= summoner.soloQWins %></td>
    <td><%= summoner.soloQLosses %></td>
    <td><%= summoner.flexRank %></td>
    <td><%= summoner.flexWins %></td>
    <td><%= summoner.flexLosses %></td>
  </tr>
  <% }) %>
</table>
</div>
<%- include('partials/footer') %>
