<%- include('partials/header') %>
<div>
  <h1 class="title">League of Losers</h1>
  <h3 class="subtitle"> Who is the biggest loser of them all? </h3>
    </br>
  <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <th>Summoner</th>
        <th>Level</th>
        <th colspan="2">SoloQ</th>
        <th>Wins</th>
        <th>Losses</th>
        <th colspan="2">Flex</th>
        <th>Wins</th>
        <th>Losses</th>
        <th colspan="2">Most Played</th>
        <th>Feeding?</th>
      </tr>
      </thead>
  <tr>
  <% summoners.forEach((summoner)=> { %>
  <tr>
    <td><img class="avatar" src="<%= summoner.icon %>"/><%= summoner.name %></td>
    <td><%= summoner.level %></td>
    <td><img class="emblem" src="<%= summoner.soloQ.emblem %>"/> </td>
    <td><%= summoner.soloQ.tier %> <%= summoner.soloQ.rank %></td>
    <td><%= summoner.soloQ.wins %></td>
    <td><%= summoner.soloQ.losses %></td>
    <td><img class="emblem" src="<%= summoner.flex.emblem %>"/> </td>
    <td><%= summoner.flex.tier %> <%= summoner.flex.rank %></td>
    <td><%= summoner.flex.wins %></td>
    <td><%= summoner.flex.losses %></td>
    <td><img class="champIcon" src="<%= summoner.mostPlayed %>" /></td>
    <td><%= summoner.timesPlayed %> played</td>
    <td id="live<%= summoner.id %>"><%= summoner.liveMatch %></td>
  </tr>
  <% }) %>
</table>
</div>
<%- include('partials/footer') %>
