<%- include('partials/header') %>
<div>
  <h1 class="title">League of Losers</h1>
  <h3 class="subtitle"> Who is the biggest loser of them all? </h3>
    </br>
  <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <th>Summoner</th>
        <th>Level</th>
        <th colspan="2">SoloQ</th>
        <th>Wins</th>
        <th>Losses</th>
        <th colspan="2">Flex</th>
        <th>Wins</th>
        <th>Losses</th>
        <th colspan="2">Most Played (last 100 matches)</th>
        <th>Feeding?</th>
      </tr>
      </thead>
  <tr>
  <% summoners.forEach((summoner, index)=> { %>
  <tr>
    <% console.log(profiles[index]) %>
    <td><img class="avatar" src="<%= summoner.profileIconUrl %>"/><%= summoner.name %></td>
    <td><%= summoner.summonerLevel %></td>
    <td><img class="emblem" src="<%= profiles[index].soloQ.emblem %>"/> </td>
    <td><%= profiles[index].soloQ.tier %> <%= profiles[index].soloQ.rank %></td>
    <td><%= profiles[index].soloQ.wins %></td>
    <td><%= profiles[index].soloQ.losses %></td>
    <td><img class="emblem" src="<%= profiles[index].flexQ.emblem %>"/> </td>
    <td><%= profiles[index].flexQ.tier %> <%= profiles[index].flexQ.rank %></td>
    <td><%= profiles[index].flexQ.wins %></td>
    <td><%= profiles[index].flexQ.losses %></td>
    <td><img class="champIcon" src="<%= profiles[index].mostPlayed.imgUrl %>" /></td>
    <td><%= profiles[index].mostPlayed.timesPlayed %> played</td>
    <td id="live<%= summoner.id %>"><%= summoner.live %></td>
  </tr>
  <% }) %>
</table>
</div>
<%- include('partials/footer') %>
